#index-page {
  padding-bottom: 120px;
}
#index-page .main-row {
  margin-bottom: 54px;
}
/** Column 1 */
#index-page .main-row .col1 {
  width: 240px;
  padding-right: 30px;
  border-right: 1px solid #e5e5e5;
}
#index-page .news-category-block {
  margin-bottom: 77px;
}
#index-page .interview {
  margin-bottom: 72px;
}
/** Column 2 */
#index-page .main-row .col2 {
  flex-grow: 2;
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #e5e5e5;
}
#index-page .slider {
  margin-bottom: 50px;
  position: relative;
}
#index-page .slider-item {
  position: relative;
}
#index-page .slider-button {
  position: absolute;
  top: 0;
  left: -6px;
  height: 100%;
  display: flex;
  align-items: center;
}
#index-page .slider-button-next {
  right: -6px;
  left: auto;
}
#index-page .slider-button button {
  width: 28px;
  height: 28px;
  background-color: #02781D;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index-page .slider-button-prev button {
  transform: rotate(180deg);
}
#index-page .slider-pointers {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
#index-page .slider-pointer {
  width: 5px;
  height: 5px;
  border: none;
  border-radius: 3px;
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #C4C4C4;
}
#index-page .slider-pointer_active {
  background-color: #02781D;
}
#index-page .slider-image img {
  max-width: 100%;
}
#index-page .slider-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
#index-page .slider-link-inner {
  position: relative;
  padding: 16px 22px 16px 22px;
}
#index-page .slider-link-inner-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 13, 3, 0.5);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  z-index: 0;
}
#index-page .slider .category {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  z-index: 1;
  position: relative;
  margin-bottom: 13px;
}
#index-page .slider-link-inner a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  color: #fff;
}
#index-page .main-row .col2 .paper-theme {
  margin-bottom: 33px;
}
#index-page .main-row .col2 .delimiter {
  height: 1px;
  background-color: #E5E5E5;
}
#index-page .main-row .col2 .day-theme {
  margin-top: 33px;
}
#index-page .date-delimiter {
  margin-top: 60px;
  align-items: flex-end;
}
#index-page .date-delimiter .date {
  font-size: 14px;
  font-weight: 700;
  color: #02781D;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 11px;
}
#index-page .date-delimiter .line {
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
}
#index-page .day-block {
  margin-top: 50px;
}
#index-page .day-block .news-item {
  margin-bottom: 40px;
}
/** Column 3 */
#index-page .main-row .col3 {
  width: 240px;
  padding-left: 30px;
}